.aside__right {
  height: 1633px;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 72px;
}

#aside__first {
  height: 608px;
  background-color: rgb(255, 255, 255);
}

#aside__right--header {
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 16px;
  border-bottom: 1px solid gray;
}

#aside__right--listings {
  color: rgb(36, 36, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

#aside__see {
  color: rgb(59, 73, 223);
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  visibility: visible;
  text-decoration: none;
}

#aside__second {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid gray;
}

#aside__second--p1 {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__second--job {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__third {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid gray;
}

#aside__third--cont {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__third--col {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__fourth {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid gray;
}

#aside__fourth--dep {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__fourth--pro {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__fifth {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid gray;
}

#aside__fifth--play {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__fifth--col {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__sixth {
  padding: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-bottom: 1px solid gray;
}

#aside__sixth--this {
  font-size: 16px;
  text-decoration: none;
  color: #404040;
}

#aside__sixth--col {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

#aside__seventh {
  padding: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

#aside__seventh--cre {
  text-decoration: none;
  color: #404040;
}

#aside__righttwo--header {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid gray;
}

#aside__righttwo--dis {
  color: rgb(36, 36, 36);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

#space__one {
  background-color: rgb(229, 229, 229);
  color: rgb(229, 229, 229);
  display: block;
}

html {
  margin: 0;
}

section {
  width: 50%;
}

.center {
  display: flex;
  flex-direction: column;
}

.btn-create {
  background-color: white;
  border-style: ridge;
  border-color: #3b49df;
  color: #3b49df;
  border-width: 1px;
  border-radius: 7px;
  font-size: 16px;
  padding: 7px 10px;
  height: 40px;
  width: 150px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  background-color: #f5f1f1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-create:active {
  background-color: #3b49df;
  color: white;
  text-decoration: underline;
}

.prueba {
  width: 20%;
  height: 200px;
  border-style: dotted;
  margin: 0 10px 0 10px;
}

.aside-izq {
  width: 20%;
}

.aside-izq-primero {
  background-color: white;
}

ul {
  list-style: none;
}

.iconos {
  width: 20px;
}

.container-iconos {
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .aside-izq {
    display: none;
  }
  .aside__right {
    display: none;
  }
  .contenedor-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom-style: ridge;
    border-color: rgba(128, 128, 128, 0.158);
    padding: 5px;
  }
  .contenedor-izq {
    width: 60%;
    display: flex;
    align-items: center;
  }
  .contenedor-der {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .btn-search {
    padding: 0;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-style: none;
    background-color: rgba(225, 228, 230, 0.887);
  }
  .img-devN {
    width: 50px;
    margin-left: 20px;
  }
  .hamburguesa {
    width: 30px;
  }
  .logIn {
    display: none;
  }
  input {
    display: none;
  }
  .lupa-input {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .aside__right {
    display: none;
  }
  .btn-create {
    width: 150px;
    font-size: 16px;
  }
  .logIn {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .lupa {
    display: none;
  }
  .hamburguesa {
    display: none;
  }
  .contenedor-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 22px;
    border-bottom-style: ridge;
    border-color: rgba(128, 128, 128, 0.158);
  }
  .img-devN {
    width: 50px;
    margin-right: 20px;
  }
  input {
    width: 420px;
    height: 39px;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(205, 202, 202);
    border-style: ridge;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
    margin-right: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .contenedor-izq {
    display: flex;
    align-items: center;
  }
  .contenedor-der {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .contenedor-input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lupa-input {
    position: relative;
    right: 18%;
  }
  .btn-search {
    display: none;
  }
}
@media (min-width: 1024px) {
  .btn-create {
    width: 150px;
    font-size: 16px;
  }
  .logIn {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .lupa {
    display: none;
  }
  .hamburguesa {
    display: none;
  }
  .contenedor-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 22px;
    border-bottom-style: ridge;
    border-color: rgba(128, 128, 128, 0.158);
  }
  .img-devN {
    width: 50px;
    margin-right: 20px;
  }
  input {
    width: 420px;
    height: 39px;
    border-radius: 7px;
    border-width: 1px;
    border-color: rgb(205, 202, 202);
    border-style: ridge;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
    margin-right: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .contenedor-izq {
    display: flex;
    align-items: center;
  }
  .contenedor-der {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .contenedor-input {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .lupa-input {
    position: relative;
    right: 18%;
  }
  .btn-search {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */