.h1-aside-izq{
    font-size: 20px;
    margin-bottom: 20px;
}
.aside-izq{
    margin-top: 10px;
}
.aside-izq-primero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.p-aside-izq{
    font-size: 16px;
    margin-bottom: 20px;
}
.container-iconos{
    display:flex;
    justify-content: start;
    margin-left:0px;
}
.aside-izq-links{
    justify-items: left;

}
.popular-tags{
    justify-content: left;

}
.btn-create-aside {
    width: 230px;
    font-size: 16px;
    margin-top: 15px;
  }
  .text-tags{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.52);
  }
  .tags{
    height: 500px;
    overflow: scroll;
  }
  .popular-tags >h4{
    margin-left: 40px;
  }
  .ft1{
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.475);
  }