section{
    margin: 0;
}
.borders{
    border-style: ridge;
    border-width: 1px;
    border-color: #40404022;
}
.flex-column{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.aside__right{
    width: 22%;
    border-radius: 7px;
}
.space{
    margin-bottom: 40px;
}

.aside__first, .aside__second{
    background-color: rgb(255, 255, 255);
    padding-bottom: 60px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.aside__right--header{
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 16px;
    border-bottom: 1px solid gray;
}

.aside__right--listings{
    color: rgb(36, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding: 0;
}


.aside__see{
    color: rgb(59, 73, 223);
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    visibility: visible;
    text-decoration: none;
}

.aside__second{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid gray;
}

.aside__second--h3{
    font-size: 20px;
    color: #404040;
    font-weight: 700;
    text-align: start;
}
.aside-a{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.696);
    text-decoration: none;
}

.aside__second--job{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

.aside__third{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid gray;
}

.aside__third--cont{
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.aside__third--col{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

.aside__fourth{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid gray;
}

.aside__fourth--dep{
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.aside__fourth--pro{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

#aside__fifth{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid gray;
}

#aside__fifth--play{
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.aside__fifth--col{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

.aside__sixth{
    padding: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 1px solid gray;
}

.aside__sixth--this{
    font-size: 16px;
    text-decoration: none;
    color: #404040;
}

.aside__sixth--col{
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #717171;
}

.aside__seventh{
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.aside__seventh--cre{
    text-decoration: none;
    color: #404040;
}

.aside__righttwo--header{
    display: flex;
    padding: 12px 16px;
    border-bottom: 1px solid gray;
}

.aside__righttwo--dis{
    color: rgb(36, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.space__one{
    background-color: rgb(229, 229, 229);
    color: rgb(229, 229, 229);
    display: block;
}