body{
    margin: 0;
}
.btn-create{
    background-color: white;
    border-style: ridge;
    border-color: #3b49df;
    color: #3b49df;;
    border-width: 1px;
    border-radius: 7px;
    font-size: 16px;
    padding: 7px 12px;
    height: 40px;
    width: 100%;
}
.btn-create:active {
    background-color: #3b49df;
    color: white;
    text-decoration: underline;
}

nav{
    padding: 2px 10px 5px 10px;
}

@media (max-width: 667px) {
    .contenedor-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-bottom-style: ridge;
        border-color: rgba(128, 128, 128, 0.158);
        padding: 5px ;
    }
    .contenedor-izq{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .contenedor-der{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .img-devN{
        width: 50px;
        margin-left: 20px;
    }
    .lupa{
        margin-right: 10px;
        width: 24px;
    }
    .hamburguesa{
        width: 30px;
    }
    
}

@media (min-width: 667px) {
    nav{
    background-color: red;
    }
    .hamburguesa{
        display: none;
    }
}

@media (min-width: 907px) {
    nav{
        background-color: yellow;
    }
}